<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #icerik{
            min-height: 50%;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <p>Total Messages = <%=box_messages.total%> </p>
    <p>New Messages = <%=box_messages.new%> </p>
    <div>
        <p>Subject = <%=mail_subject%></p>
        <p>Html</p>
        <div id="icerik">
            <%-mail_html%> 
        </div>
    </div>
</body>
</html>